.introduction{

        width: 288px;
    padding-bottom: 40px;
    left: 44px;
    top: 116px;
    
    /* texte article */
    
    font-family: 'Itim';
    font-size: 20px;
    color: #000000;
    margin: auto;
    margin-top: 40px;
    }

.ligne{
    width: 250px;
    text-align: center;
   border: 1px solid;
   margin-top: 25px;
   margin-bottom: 25px;
    
}
.info_expo{
    display: grid;
    justify-items: center;
    width: 325px;
    height: 311px;
  background: #E7E7E7;
  font-size: 17px;
  font-family: 'Itim';
  border-radius:  10px;
  margin: auto;

}
.texte1{
    font-size: 14px;
    margin-left: 10px;
}
.voir{
    text-align: center;
    color:black;
    font-family: 'Itim';
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

width: 75px;
    height: 30px;
  background: #A4B4EB;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}
.billeterie{
    text-align: center;
    color:black;
    text-decoration: none;
    margin: auto;
    font-family: 'K2D';
    width: 120px;
    height: 40px;

font-size: 12px;

display: flex;
    justify-content: center;
    align-items: center;


border: 1px solid #000000;
margin-top: 30px;
margin-bottom: 20px;
}
.mouvement{
    display: grid;
    justify-items: center;
    width: 300px;
    height: 447px;
  background: #E7E7E7;
  font-size: 17px;
  font-family: 'Itim';
  border-radius:  10px;
  margin: auto;
}
.texte2{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.ligne2{
    width: 250px;
    text-align: center;
   border: 1px solid;
   margin-top: 70px;
   margin-bottom: 25px;
    
}
.artiste{
    text-align: center;
    font-family: 'K2D';
    font-size: 20px;
}
.nom_art{
    text-align: center;
    font-family: 'K2D';
    font-size: 20px;
}