.titre_page{
    font-family: 'Fredoka';
    font-weight: bolder;
    padding-top: 140px;
    text-align: center;
    font-size: 24px;
}
.img_expo2{
    width: 353px;
    height: 199px;
    top: 175px;
    padding-left: 11px;
    margin: auto;
}
.sous_titre{
    font-family: 'K2D';
    font-size: 24px;
    text-align: center;
}
.info{
    height: 280px;
    width: auto;
    background: #E7C3C3;
}
.date{
    font-family: 'Itim';
    font-size: 20px;
    width: 285px;
    padding-left: 22px;
    padding-top: 10px;

}
.lieu{
        font-family: 'Itim';
        font-size: 20px;
        width: 285px;
        padding-left: 22px;
padding-left: 22px;
}
.horaire{
        font-family: 'Itim';
        font-size: 20px;
        width: 285px;
        padding-left: 22px;
}
.ligne{
    width: 250px;
    text-align: center;
   border: 1px solid;
   margin-top: 30px;
   margin-bottom: 50px;
    
}
.titre_tarif{
    font-family: 'K2D';
    font-size: 32px;
    text-align: center;
}
.tarifs{
    padding-left: 22px;
}
.prix{
    font-family: 'K2D';
    font-size: 20px;
}

.btn_reserve{
    appearance: none;
    outline: none;
    border:none;
    background: none;
   margin-left: 155px;
  border-radius: 6px;
   
   background: #A4B4EB;
  
}
.txt_rsv{
    font-family: 'K2D';
    font-size: 16px;

}
.desoler{
    font-family: 'K2D';
    font-size: 16px;
    text-align: center;
}
