.header{
    background: #E7C3C3; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    height: 100px;
    box-shadow: 0px 1px 0px #000000;
    
    
    
}
.header__menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    
  }
  .noscroll,
  .noscroll body {
      overflow: hidden;
    }

    .Nomsite{

        font-family: 'Kalam';
        font-style: normal;
        
        font-size: 24px;
       
       text-transform: uppercase;
        text-align: center;
  
        
        color: #000000;
        
        
        
}
