.menu {
    position: fixed;
   
    width: 100vw;
    height: 217vw;
    background: #E7C3C3;
    
    place-content: center;
    font-size: 18px;
  }

  li::marker {
    color:#E7C3C3;
  }
  .nom_article{
    line-height: 3;
  }
  .liste{
    font-family: 'K2D';
    font-size: 24px;
  }
  .fren_menu{
    padding-left: 14px;
    font-size: larger;
    margin-top: 0px;
    justify-content: space-evenly;
    display: flex;
    padding-top: 5px;
    font-family: 'K2D';
    color: #f0f0f0;
  }