.titre_page{
    font-family: 'Fredoka';
    font-weight: bolder;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
}
.mouvement{
    width: 300px;
    height: 359.26px;
    margin: auto;
    display: flex;
}
.texte_mouvement{
    width: 344px;
height: 125px;
font-family: 'Itim';
font-size: 20px;
margin: auto;
}
.texte_mouvement2{
    width: 344px;
height: 125px;
font-family: 'Itim';
font-size: 20px;
margin: auto;
}
.texte_mouvement3{
    width: 344px;
height: 125px;
font-family: 'Itim';
font-size: 20px;
margin: auto;
}